body {
  background: #000000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  color: #fefbf5;
  text-transform: lowercase;
  margin: 60px 60кpx;
  padding: 0;
  box-sizing: border-box;
} 

a {
  color: #E0D783; 
  text-decoration: none;
}

a:hover {
  color: #E0D783; 
}

.header {
  position: fixed;
  margin: 40px 40px;
  top: 12px;
  right: 250px;
  width: auto;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album {
  width: auto;
  margin: 20px 40px;
}

.album img {
  width: 400px;
}

.album-details {
  text-align: center;
}

.album-details h2 {
  font-size: 18px;
  font-weight: bold;
}

/* Адаптивность для мобильных устройств */
@media screen and (max-width: 768px) {
  body {
    font-size: 20px; /* уменьшение шрифта */
  }

  .content {
    padding: 20px; /* добавляем отступы только для мобильных устройств */
  }
  
  .header {
    margin: 10px;
    right: 10px;
    left: 10px;
  font-size: 16px; /* Увеличиваем размер шрифта */
  padding: 20px;
  }

  .album {
    width: 100%;
    margin: 20px 10px;
  }

  .album img {
    width: 100%;
  }

  .album-details h2 {
    font-size: 24px;
  }
}
